#root {
  height: 100%;
  width: 100%;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

@font-face {
  font-family: 'Oxigen Mono';
  src: local('Oxigen Mono'), url('./fonts/Oxigen_mono/OxygenMono-Regular.ttf');
}